<div class="p-6">
  <h1><%= login %>'s profile</h1>
</div>
<div class="p-6 d-flex flex-column flex-content-center">
  <div class="mx-auto">
    <%= form_for :teacher, routes.teacher_profile_path, values: { teacher: teacher } do
      div class: 'form-group' do
        div class: 'form-group-header' do
          label :first_name
        end
        div class: 'form-group-body' do
          text_field :first_name, class: 'form-control'
        end
      end
      div class: 'form-group' do
        div class: 'form-group-header' do
          label :last_name
        end
        div class: 'form-group-body' do
          text_field :last_name, class: 'form-control'
        end
      end
      div class: 'form-group' do
        div class: 'form-group-header' do
          label :email
        end
        div class: 'form-group-body' do
          email_field :email, class: 'form-control'
        end
      end
      submit 'Save', class: 'btn btn-primary'
      a class: 'btn', role: 'button', href: routes.student_path do
        "Home"
      end
    end %>
  </div>
</div>
