<div class="p-6">
  <% mappings.each do |m| %>
    <div class="TableObject p-4">
      <div class="TableObject-item">
        <span class="text-bold">HW</span>
        <span><%= instance_name[m.homework_instance_id] %></span>
      </div>
      <div class="TableObject-item">
        <span class="text-bold">TA</span>
        <span><%= m.team.name %></span>
      </div>
      <div class="TableObject-item">
        <%= form_for :mapping, routes.team_mapping_path(m.id), method: :delete do
          div class: 'form-actions' do
            submit 'Delete', class: 'btn btn-danger'
          end
        end %>
      </div>
    </div>
  <% end %>
  <div class="TableObject p-4">
    <%= form_for :mapping, routes.team_mappings_path, method: :post do
      div class: 'TableObject-item p-2' do
        select :homework_instance_id, instances, class: 'form-select'
      end
      div class: 'TableObject-item p-2' do
        select :team_id, teams, class: 'form-select'
      end
      div class: 'TableObject-item form-actions' do
        submit 'New', class: 'btn btn-primary'
      end
    end %>
  </div>
</div>
