<div class="p-4">
<div class="blankslate blankslate-narrow">
  <p>You need to login first.</p>
  <p>
  <a class="btn btn-primary" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>&state=<%= secret %>">Login with GitHub</a>
  </p>
</div>
</div>
