<!DOCTYPE html>
<html>
  <head>
    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
    <title>Admin login</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
