<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@primer/css@^15.2.0/dist/primer.css">
    <title>Admin login</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
