<div class="p-6">
  <% tms.each do |tm| %>
    <div class="TableObject p-4">
      <div class="TableObject-item">
        <span class="text-bold">HW</span>
        <span><%= i_rmapping[tm.homework_instance_id] %></span>
      </div>
      <div class="TableObject-item">
        <span class="text-bold">TA</span>
        <span><%= tm.teacher.first_name %></span>
      </div>
      <div class="TableObject-item">
        <%= form_for :tm, routes.ta_mapping_path(tm.id), method: :delete do
          div class: 'form-actions' do
            submit 'Delete', class: 'btn btn-danger'
          end
        end %>
      </div>
    </div>
  <% end %>
  <div class="TableObject p-4">
    <%= form_for :tm, routes.ta_mappings_path, method: :post do
      div class: 'TableObject-item p-2' do
        select :homework_instance_id, i_mapping, class: 'form-select'
      end
      div class: 'TableObject-item p-2' do
        select :teacher_id, teacher_mapping, class: 'form-select'
      end
      div class: 'TableObject-item form-actions' do
        submit 'New', class: 'btn btn-primary'
      end
    end %>
  </div>
</div>
